aaaaaaaa ICON "gb.ico"

// this icon is used with wxFrame::SetIcon()
gb ICON "gb.ico"

#define wxUSE_NO_MANIFEST 0

#ifndef wxUSE_DPI_AWARE_MANIFEST
#define wxUSE_DPI_AWARE_MANIFEST 2
#endif

#include "wx/msw/wx.rc"
